{
  "env": {
    "browser": true,
    "node": true
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "templateStrings": true,
    "blockBindings": true,
    "modules": true
  },
  "rules": {
    "quotes": "single",
    "no-underscore-dangle": false,
    "no-mixed-requires": false,
    "no-use-before-define": false,
    "new-cap": false
  }
}
