{
  env: {
    browser: true,
    node: true
  },
  ecmaFeatures: {
    arrowFunctions: true,
    templateStrings: true,
    blockBindings: true,
    modules: true,
    objectLiteralShorthandProperties: true,
    objectLiteralComputedProperties: true
  },
  rules: {
    quotes: "single",
    no-underscore-dangle: false,
    curly: [2, "multi-line"]
  }
}
